footer {
    background: #EE754C;
    padding: 15vh;
    align-items: center;
    margin: 0;
}
footer .container .row .menu {
    display: flex;
    justify-content: space-between;
}
footer .container .row .contect .logo h1 {
    font-size: 70px;
    font-family: 'Parisienne', cursive;
    color: #FBF7E4;
}
footer .container .row .contect .direitos {
    font-family: 'ABeeZee', sans-serif;
    font-size: 25px;
    color: #FBF7E4;
}
footer .container .row .contect .direitos .reservados {
    font-family: 'ABeeZee', sans-serif;
    font-size: 17px;
    color: #FBF7E4;
}
footer .container .row .menu ul {
    list-style: none;
    padding: 0 51px 0 0;
}
footer .container .row .menu ul.paddZero {
    padding: 0;
} 
footer .container .row .menu ul li {
    align-items: center;
    text-align: left;
    padding: 10px 0;
}
footer .container .row .menu ul li.titulo a {
    font-size: 25px;
}
footer .container .row .menu ul li a {
    font-family: 'ABeeZee', sans-serif;
    text-decoration: none;
    color: #FBF7E4;
    font-size: 17px;
    line-height: 20px;
}

@media(max-width: 1440px) {
    footer .container .row .menu {
        justify-content: center;
        padding: 0px 28px 0px 100px;
    }
    footer .row {
        display: block;
    }
    footer h1 {
        text-align: center;
    }
    footer .container .row .contect .direitos {
        padding: 34px;
    }

    @media(max-width: 606px){
        footer .container .row .menu {
            padding: 0;
        }
    }
}